<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ajax</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
    <script>
        $(document).ready(function(){

            {#$.ajax({url:"http://localhost:8001/",success:function(result){#}
            {#        // $.ajax({url:"https://pps-cms.lcxtest.org/",success:function(result){#}
            {#        // alert(result.valueOf())#}
            {#        $("#div1").html(result);#}
            {#    }});#}


            {#$.get("http://localhost:8001/",function(result){#}
            {#            alert(result.valueOf());#}
                        {#$("#div1").html(result);#}
            {#    });#}


            $.post("http://localhost:8001/",
              function(result,status){
                 {#alert(result.valueOf());#}
                 alert(status);
              });

            // $("button").click(function(){
            //     $.ajax({url:"http://localhost:8001/",success:function(result){
            //     // $.ajax({url:"https://pps-cms.lcxtest.org/",success:function(result){
            //             alert(result.valueOf())
            //             // $("#div1").html(result);
            //         }});
            // });
        });
    </script>
</head>
<body>

<div id="div1"><h2> jQuery AJAX </h2></div>
<button>mybutton</button>

</body>
</html>